/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(./assets/img/backgroundImg/images.jpg);
    background-size: cover;
    overflow-x: scroll;
    overflow-y: scroll;
}
h1, h2, h3{
    color: lavender;
}

