<h2>
		Miami Brickell
</h2>
      <div class="col-md-4">
        <div class="ba-0">
            <img class="img-fluid" alt="Responsive image" width="auto" height="200px" src ="../../assets/img/home/1809Pink-17floors.jpg">
          <div class="card-body">
            <h4 class="card-title">Text goes here</h4>
            <p class="card-text">Text goes here</p>
            <a class="btn btn-primary" data-target="#modalIMG" data-toggle="modal" href="#">View Image</a>
          </div>
        </div>
			</div>
			<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modalIMG" role="dialog" tabindex="-1">
				<div class="modal-fullscreen" role="document"></div>
					<div class="modal-content">
						<div class="modal-body mb-0 p-0">
								<img src ="../../assets/img/home/1809Pink-17floors.jpg">
						</div>
						<div class="modal-footer">
							<button class="btn btn-outline-primary btn-rounded btn-md ml-4 text-center" data-dismiss="modal" type="button">Close</button>
						</div>
					</div>
			</div>
			
