<!--The content below is only a placeholder and can be replaced.-->
<h1>McKinney Realty Investments</h1>
<h3>Commercial Real Estate Investments and Finance</h3>
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class ="nav-link" href="#" [routerLink] = "['./home']" routerLinkActive="router-link-active">Home</a>
    </li>
    <li class="nav-item">
      <a class ="nav-link" href="#" [routerLink] = "['./transactions']" routerLinkActive="router-link-active">Transactions</a>
    </li>
    <li class="nav-item">
      <a class ="nav-link" href="#" [routerLink] = "['./mri']" routerLinkActive="router-link-active">MRI Commercial Realty Finance</a>
    </li>
    <li class="nav-item">
      <a class ="nav-link" href="#" [routerLink] = "['./about']" routerLinkActive="router-link-active">About Us</a>
    </li>
    <li class="nav-item">
      <a class ="nav-link" href="#" [routerLink] = "['./contact-us']" routerLinkActive="router-link-active">Contact Us</a>
    </li>
  </ul>
<router-outlet></router-outlet>
